.button {
    position: relative;

    display: inline-block;

    padding: 0;

    vertical-align: middle;
    text-indent: 50px;

    outline: 0;

    -webkit-appearance: none;
}
.button + .button {
    margin-left: 17px;
}
.button:before {
    position: absolute;
    top: 4px;
    left: 3px;

    content: '';

    background-repeat: no-repeat;
}
.button_type_play {
    width: 28px;
    height: 28px;

    border: 1px solid rgb(225,225,225);
    border-color: rgba(255,102,0,.75) rgba(255,51,0,.25) rgba(255,17,0,.25);
    border-top-width: 0;
    border-radius: 50%;
    background-color: #f60;
    background-image: -webkit-linear-gradient(rgba(255,153,0,.6),rgba(255,102,0,.6) 40%,rgba(255,17,0,.6));
    background-image: linear-gradient(rgba(255,153,0,.6),rgba(255,102,0,.6) 40%,rgba(255,17,0,.6));
    box-shadow: 0 0 2px rgba(255,51,0,.35),inset 0 -1px 3px rgba(255,51,0,.45),0 0 3px rgba(0,0,0,.15),inset 0 1px 0 rgba(102,51,0,.2),inset 0 2px 2px rgba(255,255,255,.25),inset 0 -2px 2px rgba(255,255,255,.2);

}
.button_type_play:active {
    color: #333;
    border-color: rgba(255,102,0,.75) rgba(255,51,0,.25) rgba(255,17,0,.25);
    background-color: #f30;
    box-shadow: 0 0 2px rgba(255,51,0,.35),inset 0 -1px 3px rgba(255,51,0,.25),0 0 3px rgba(0,0,0,.15),inset 0 1px 0 rgba(102,51,0,.2),inset 0 2px 2px rgba(255,255,255,.35),inset 0 -2px 2px rgba(255,255,255,.25);
    text-shadow: -1px -1px 0 #fcfcfc,1px -1px 0 #fcfcfc,-1px 1px 0 #fcfcfc,1px 1px 0 #fff;
}
.button_type_remove {
    width: 22px;
    height: 22px;

    border: 1px solid rgb(225,225,225);
    border-radius: 4px;
    background-color: #fcfcfc;
    background-image: -webkit-linear-gradient(rgba(255,255,255,.0),rgba(235,235,235,.3) 60%,rgba(225,225,225,.6));
    background-image: linear-gradient(rgba(255,255,255,.0),rgba(235,235,235,.3) 60%,rgba(225,225,225,.6));
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.02),inset 0 1px 0 rgba(255,255,255,1),inset -1px 0 0 rgba(255,255,255,1),inset 0 -1px 0 rgba(255,255,255,.5),inset 1px 0 0 rgba(255,255,255,1);
    box-shadow: 0 1px 2px rgba(0,0,0,.02),inset 0 1px 0 rgba(255,255,255,1),inset -1px 0 0 rgba(255,255,255,1),inset 0 -1px 0 rgba(255,255,255,.5),inset 1px 0 0 rgba(255,255,255,1);
    text-shadow: 0 1px 0 #fff;
}

.button_type_remove:active {
    border: 1px solid rgb(200,200,200);
    background-color: #eee;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.0),inset 0 2px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(0,0,0,.08),inset -2px 0 2px rgba(0,0,0,.03),inset 0 -1px 0 rgba(0,0,0,.02),inset 2px 0 2px rgba(0,0,0,.03);
    box-shadow: 0 1px 3px rgba(0,0,0,.0),inset 0 2px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(0,0,0,.08),inset -2px 0 2px rgba(0,0,0,.03),inset 0 -1px 0 rgba(0,0,0,.02),inset 2px 0 2px rgba(0,0,0,.03);
    text-shadow: none;
}

.button_type_play:before {
    width: 20px;
    height: 20px;

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABnUlEQVR42qWUXShDYRjHd1hMa1YitOKCRmk3uJAoCokL5UrixkdcksiNFCG7UnIjuRLSLiTiQlyJEpFcyHytxOZj89XWWWd/f7Ky2jg751+/Oud933719D7vowEQSrpGRzJJLkkhWqL5F+CbcMJ4bG90obW+i9+1P/J4NUIBk2MVEEUfrAM2/jeTPKInghLhF8l4dJ0DzKrtGObEbq4VkSQSq0Sow/7OBII5O3WiKt/K9WpiInHRCgWM9JfhdzzPXvS0LXKvgZhJAhHkCIOkwf3kCJFKUgBz07vc6yAFxEhi5Ar1ODlcQLgc7DlQmDHIM+UklWjlCGMxP9OCSHHevbK1pniuhBjkCXOMhWwfPyLF7xextT4qV6hHlr7yT6Ek+XBz2Su35DQM9w0hUnzeWxztl8m9FIGYsbm2hXB58WxjZckUTdvoSDHub10hokBA4tq4ksZORlNNZ4hMFN18MXVKnp5AsrG8sIRg3t+OWL5Z6XCIIxY8OO0A47qf5eUY1IyvBExZS9kSH7iyt6sfsBRwEDTi+sISLFGFUD2fG4q5Dt/MKzYAAAAASUVORK5CYII=);
}
.button_type_remove:before {
    width: 21px;
    height: 21px;

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAUUlEQVQoz2P4//8/A7kYq6CxsXEDEL8H4v9QugGvZqhCojDVNQtAJRtghqHR/cgaMfxMQHPDqGbsmt/DFCLR/bBEg09zA4E4bsCpmSppmy6aAUBBI6T+2ZKdAAAAAElFTkSuQmCC);
}
