.track {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    -webkit-height: 60px;
    padding: 5px 6px;

    background-color: white;

    user-select: none;
    -webkit-user-select: none;
}
.track_state_move {
    z-index: 1;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f2f2f2;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
}
@-webkit-keyframes removal {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0;}
}
@keyframes removal {
    0%, 50%, 100% {opacity:100 1;}
    25%, 75% {opacity: 0;}
}
.track_state_removal {
    -webkit-animation: removal 1s infinite;
    animation: removal 1s infinite;

    -webkit-backface-visibility: hidden;
}
.track_state_playing .button_type_play:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAWElEQVR42u2MMQoAIQwE7fOCa7f3V77lvp1LwEpdCGhxQgIDYWCnqOpRZvkUMWDUDtwxHwnCaMbr9B/MR4JVh3PHfAYzmMHfBrEYgvlIUBZDYZ4EN7gu+AGUOJJJchR7SwAAAABJRU5ErkJggg==);
}
.track + .track {
    border-top: 1px solid #e5e5e5;
}
.track-logo {
    display: inline-block;

    background-color: #555;
}
.track-logo__image {
    display: block;

    width: 50px;
    height: 50px;
}
.track__content {
    display: inline-block;
    overflow: hidden;

    box-sizing: border-box;
    width: 150px;
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    max-height: 50px;
    margin: 0 4px;

    vertical-align: top;
}
.track__owner {
    color: #999;

    font-size: 12px;
}
.track__controls {
    float: right;
}
.track__controls:before {
    display: inline-block;

    height: 50px;

    content: '';
    vertical-align: middle;
}
.track__controls .button:last-child {
    margin-right: 11px;
}
