.playlist {
    position: relative;

    margin-top: 48px;
}
.playlist__placeholder {
    box-sizing: border-box;
    height: 65px;
}
.track_state_move + .playlist__placeholder {
    height: 64px;

    border-top: none !important;
}
